#title h1{
    color: #1D9D74;
    font-size: 50px;
}
#details h2{
    color: #1D9D74;
}
.con1{
    padding: 20px 0px;
}
.con1 a{
    color: black;
    text-decoration: underline;
}
.faicon i{
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.frm-grp{
    padding-bottom: 25px;
}
.btn{
    background-color: #1D9D74;
    color: white;
}
.btn:hover{
    background-color: white;
    color: #1D9D74;
}